@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@theme{
    --Primary-50:#EBE9FE;
    --Primary-100:#DEDBFD;
    --Primary-200:#BEB7FB;
    --Primary-300:#9C92F8;
    --Primary-400:#7B6EF6;
    --Primary-500:#5A4AF4;
    --Primary-600:#483BC3;
    --Primary-700:#362C92;
    --Primary-800:#251E62;
    --Primary-900:#120F31;
    
}
